.watch-movie {
  padding: 21px 0 65px;
  background: #fff;
  text-align: center;
}
.watch-movie__inner {
  position: relative;
  max-width: 1070px;
  margin: 0 auto;
  padding: 0 15px;

  &:after {
    position: absolute;
    top: -152px;
    left: 30px;
    width: 53%;
    height: 307px;
    background: url("../img/notebook.png") no-repeat;
    background-size: contain;
    content: '';
  }

}
.watch-movie__text {
  width: 420px;
  margin: 0 0 0 auto;
  padding-right: 89px;
  min-height: 151px;
}
.watch-movie__get {
  position: relative;
  min-height: 205px;

  &:after {
    position: absolute;
    top: -170px;
    left: 50%;
    width: 636px;
    height: 350px;
    background: url("../img/notebook_2.png") no-repeat;
    background-size: contain;
    content: '';
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }

}
.watch-movie_2 {

  .watch-movie__text {
    padding-right: 0;
  }

}
.site_index {

  .watch-movie__inner {


    &:after {
      display: none;
    }

  }

}



